* {
    box-sizing: border-box;

}

div.login {
    background-color: #00ff34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: auto;



}

form.login-form {
    padding: 100px;
    width: 33%;
    background-color: #990099;
    border-spacing: 100px;
    border: none;
    border-radius: 8px;
}

form.login-form label {
    display: block;
    padding-bottom: 0.3rem;
    font-size: 1.3rem;
    text-align: center;
}

form.login-form input {
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 8px;
    text-align: start;
}

form.login-form button.login {
    width: 40%;
    padding: 24px;
    border: none;
    border-radius: 100px;
    align-self: center;
    margin: 0 auto;
}